 <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
<!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>About</h1>
        <p>This website was created by JonPro as part of the final project for 
        	EE 467.  This website is programmed in rails and utilizes many gems
        	such as Paperclip and Devise. </p>
      </div>

